pkgbase = pressroom
	pkgdesc = Native local-first publishing for Omarchy
	pkgver = 0.1.0rc1.r20260919
	pkgrel = 1
	url = https://github.com/tcballard/OmaPress
	arch = x86_64
	license = MIT
	checkdepends = python
	checkdepends = desktop-file-utils
	makedepends = rust
	makedepends = cmake
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = bash
	depends = hicolor-icon-theme
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-wayland
	depends = git
	depends = github-cli
	depends = curl
	depends = libsecret
	depends = xdg-utils
	optdepends = python: register the optional Substack browser companion
	optdepends = chromium: optional Substack browser companion
	conflicts = omapress
	replaces = omapress
	options = !debug
	source = pressroom-6738df25df0ee11f0916c73bfc7de105010cb099.tar.gz::https://codeload.github.com/tcballard/OmaPress/tar.gz/6738df25df0ee11f0916c73bfc7de105010cb099
	sha256sums = 5cc435bcc8714b806d9403975eaf142dfc765d7b3907fd9bd9ced26d2f345aa7

pkgname = pressroom
