pkgbase = omapress
	pkgdesc = Native local-first publishing for Omarchy
	pkgver = 0.1.0rc1.r20260919
	pkgrel = 3
	url = https://github.com/tcballard/OmaPress
	arch = x86_64
	license = MIT
	checkdepends = python
	checkdepends = desktop-file-utils
	makedepends = rust
	makedepends = cmake
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = bash
	depends = hicolor-icon-theme
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-wayland
	depends = git
	depends = github-cli
	depends = curl
	depends = libsecret
	depends = xdg-utils
	optdepends = python: register the optional Substack browser companion
	optdepends = chromium: optional Substack browser companion
	conflicts = pressroom
	replaces = pressroom
	options = !debug
	source = omapress-9c67a20d2e7ed86e00dfeb0806f39db7d984b847.tar.gz::https://codeload.github.com/tcballard/OmaPress/tar.gz/9c67a20d2e7ed86e00dfeb0806f39db7d984b847
	sha256sums = f6704acfed07cd8e565c2a58a7945dc5e56c6c6fe9523cb25641163e8a132abf

pkgname = omapress
