[Desktop Entry]
Type=Application
Name=Pressroom
Comment=Write and publish your independent publication
Exec=pressroom-desktop
Icon=pressroom
Terminal=false
Categories=Office;Publishing;
Keywords=Markdown;RSS;Blog;Publishing;
StartupWMClass=pressroom-desktop
