[Unit]
Description=Check OmaPress publishing queue every minute

[Timer]
OnBootSec=30s
OnUnitInactiveSec=60s
AccuracySec=1s
Unit=omapress-worker.service

[Install]
WantedBy=timers.target
